body {
  background-color: #90125f;
  overflow-y: auto;
}
nav {
  background-color: #ffffff;
  box-shadow: 0 0 4.5px 0;  
  height: 55px;
  position: fixed;
  transition: all .6s;
  z-index: 99999;
  top: 0;
}
nav ul {
  margin: 0 auto;
}
nav ul li{
  display: inline-block;
  list-style-type: none;
  margin: 0 auto;
  padding: 15px 0;
  padding-right: 25px;
}
nav ul li a { 
  color: #90125f;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 900;
  transition: all .6s;
}
nav ul li a:hover {  
  color: #f9999f;
  display: block;
  transform:scale(1.07,1.07);
}
nav.hideNav {
    -ms-transform: translate3d(0, -100%, 0); /* IE 9 */
    -webkit-transform: translate3d(0, -100% , 0); /* Safari */
    transform: translate3d(0, -100%, 0);
}
input[type="checkbox"].navbar-checkbox {
  display: none;
}
.navbar-handle {
  display: none;
  cursor: pointer;
  position: relative;
  font-size: 45px;
  padding: .5em 0;
  height: 0;
  width: 35px;
  color: #90125f;
  border-top: 0.3em solid;
}
.navbar-handle:before,
.navbar-handle:after {
  position: absolute;
  left: 0;
  right: 0;
  content: ' ';
  border-top: 0.3em solid;
}
.navbar-handle:before {
  top: 0.37777778em;
}
.navbar-handle:after {
  top: 0.95em;
}
.navbar-handle:hover{
  color: #f9999f;
  display: block;
  transform:scale(1.07,1.07);
}
.navbar-brand {
  position: absolute;
  display: block;
  width: 30px;  
  line-height: 900;
}
.navbar-brand a {
  color: #90125f;  
  text-decoration: none;
}
.navbar-brand a h4 {
  padding: 8px 10px;
  font-weight: 900;
  transition: all .6s;
}
.navbar-brand a h4:hover{
  color: #f9999f;
  transform:scale(1.02,1.02);
}
.navbar .navbar-handle {
  position: absolute;
  font-size: 1.2em;
  top: 0.7em;
  right: 12px;
  z-index: 10;
}
.bgLogo{
  width: 100%;
  height: 700px;
  background-image: url(../images/red.jpg);
  background-size: cover;
  background-position: center;
}
.logo {
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.logo h1{
  display: inline-block;
  position: relative;
  margin: 300px auto;
}
#twist {
  transition: ease-in-out 1.7s;
  text-decoration: underline;
}
.aboutUs {
  width: 100%;
  height: 100%;
  padding-top: 60px;
}
.about {
  text-align: center;
  color: white;
}
.perks {
  margin-top: 60px;
}
.perksList {
  text-decoration: none;
  list-style: none;
  text-align: center;
}
.perksList li {
  width: 178px;
  display: inline-table;
  position: relative;
  color: #ffffff;
  margin: 0 10px;
  padding-bottom: 50px;
}
.theGallery {
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.theGallery .container {
  height: 100%;
  text-align: center;
}
.instagram {
  height: 320px;
  display: inline-table;
  position: relative;
  margin: 0 auto;
}
#instafeed{
  height: 100%;
  text-decoration: none;
  list-style: none;
  text-align: center;
}
.instaPic {
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 200px;
  background-color: #90125f;
  display: inline-block;
  transition: all .6s;
  color: #ffffff;
}
.instaPic:hover {
  height: 230px;
}
.instaPic img{
  display: block;
  width: 95%;
  margin: 5px auto 10px auto;
}
.instaPic .like {
  display: inline;
  position: relative;
  width: 18px;
  margin: 0;
  bottom: -5px;
  right: 10px;
}
.instaPic .comment {
  display: inline;
  position: relative;
  width: 18px;
  margin: 0;
  bottom: -5px;
  right: 1px;
}
.instaPic p {
  display: inline;
  position: relative;
  right: 5px;
}
#cp {
  right: -1px;
}
.instaLink {
  color: black;
  transition: ease-in-out .5s;
}
.instaLink:hover {
  font-size: 1.1em;
  color: #90125f;
}
.contact {
  padding-top: 60px;
  padding-bottom: 60px;
}
.contact .container {
  text-align: center;
  color: white;
}
.social li{
  text-decoration: none;
  display: inline-block;
  margin: 0 20px;
  text-decoration: none;
}
.social li a {
  color: white;
  text-decoration: none;
}
.name, .number, .email, .topic, .body {
  color: #000000;
}
.btn-submit {
  margin-top: 30px;
}
.phone {
  margin: 10px auto;
}
.phone p{
  display: inline-block;
  position: relative;
  bottom: 15px;
  right: -10px;
  margin: 0;
}
.emailadd p{
  display: inline-block;
  position: relative;
  bottom: 15px;
  right: -10px;
  margin-bottom: 25px;
}
input[type="submit"].btn-submit {
  color: #90125f;
  background-color: #ffffff;
  border: none;
}
input[type="submit"].btn-submit:hover {
  background-color: #90125f;
  border: 1px solid #ffffff;
}
footer {
  color: white;
  font-size: 0.8em;
  text-align: center;
  border-top: 1px solid #ffffff;
  padding-top: 25px;
}
footer p a {
  color: white;
}
footer p
@media (max-width: 650px) {
  nav ul li a {
    transition: all .6s;
  }
  .navbar div > ul{
    max-height: 0;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    top: 55px;
    position: relative;
    text-align: center;
    transition: all .6s;
  }
  .navbar div li {
    visibility: hidden;
    display: inline;
    padding: 0.5em 0.6em;
    border: none;
    width: 50%;
  }
  .navbar div li ul {
    margin-top: 0.5em;
    border-left: 1px solid #000;
  }
  .navbar .navbar-handle {
    display: block;
  }
  #navbar-checkbox:checked + .navbar ul {
    max-height: 300px;
  }
  #navbar-checkbox:checked + .navbar li {
    visibility: visible;
  }
  #navbar-checkbox:checked + .navbar .navbar-handle,
  #navbar-checkbox:checked + .navbar .navbar-handle:after,
  #navbar-checkbox:checked + .navbar .navbar-handle:before {
    border-color: #90125f;
  }
  .navbar-brand a h4 {
    padding: 10px 10px;
    font-size: 2em;
  }
  nav ul li a {
    font-size: 1em;
  }
  nav ul li a:hover {  
    display: inline;
  }
  .perksList {
    text-decoration: none;
    list-style: none;
    text-align: center;
    float: left;
  }
  .perksList li {
    width: 45%;
    height: 200px;
    display: inline-table;
    position: relative;
    color: #ffffff;
    margin: 0 5px;
    padding: 0;
  }
  .perksList li img{
    width: 120px;
  }
  .theGallery .container {
    height: 100%;
  }
  .instagram {
    width: 320px;
    height: 390px;
  }
  #instafeed{
    text-decoration: none;
    list-style: none;
    text-align: center;
  }
  .instaPic {
    padding: 10px;
    width: 120px;
    height: 155px;
    background-color: #90125f;
    transition: all .6s;
    color: #ffffff;
  }
  .instaPic:hover {
    height: 155px;
  }
  .instaPic img{
    display: block;
    width: 95%;
    margin: 5px auto 10px auto;
  }
  .instaPic .like {
    display: inline;
    position: relative;
    width: 18px;
    margin: 0;
    bottom: -5px;
    right: 10px;
  }  
  .instaPic .comment {
    display: inline;
    position: relative;
    width: 18px;
    margin: 0;
    bottom: -5px;
    right: -6px;
  }
  .instaPic p {
    display: inline;
    position: relative;
    right: 7px;
  }
  #cp {
    right: -9px;
  }
  .instaLink {
    color: #90125f;
    text-decoration: underline;
  }
}